.header-main-footer{
    width: 100%;
    background: rgb(43, 41, 41);
}


.services{
    background-image: url(../img/header-bg.jpeg);
    background-attachment: fixed;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.page-header{
    width: 100%;
    background: rgb(43, 41, 41);
}

.logo-contact-us{
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1460px;
    padding-bottom: 120px;
    
}




.logo-image{
    width: 216px;
    height: 33px;
    align-items: center;
    justify-content: center;

}

.contact-us-container{
    display: flex;
    justify-content: center;
    column-gap: 39px;
    align-items: center;
    
}

.contact-us-phone-number{
    color: #FFFFFF;
    font-family: 'Circe', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
}

.phone-number-color{
    color: #D6AF76;
}

.call-us-button{
    width: 218px;
    height: 50px;
    border: 1px solid #E4B564;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    text-decoration-line: none;
}

.call-us-button-text{
    font-family: 'Circe', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
color: #E4B564;
}


.services-info{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1460px;
}
.main-services-title{
    font-family: 'Gilam', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 28px;
color: #FFFFFF;
padding-top: 50px;
margin-top: 0px;
}

.main-paragraph{
    font-family: 'Gilam', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;
color: #FFFFFF;
}

.paragraph1{
    margin-top: 41px;
}

.main-services-grid-box{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 468px);
    grid-template-areas: 
    "grid-item-one grid-item-one grid-item-two grid-item-two grid-item-three grid-item-three"
    "grid-item-four grid-item-four grid-item-four grid-item-five grid-item-five grid-item-five";
    row-gap: 27px;
    column-gap: 30px;
    padding-bottom: 50px;
    padding-left: 0px;
    list-style: none;
    margin-bottom: 0px;
    
}

.grid-box-item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid-item-text{
    font-family: 'Gilam', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;
text-align: center;
color: #FFFFFF;

}

.grid-item-one{
    grid-area: grid-item-one;
    background:#634F2C;
}

.grid-item-two{
    grid-area: grid-item-two;
    background: #B4A385;

}

.grid-item-three{
    grid-area: grid-item-three;
    background: #E4B564;
}

.grid-item-four{
    grid-area: grid-item-four;
    background: #635A4A;
}

.grid-item-five{
    grid-area: grid-item-five;
    background: #635A4A;
}

.auto-park{
    width: 100%;
    background: rgb(43, 41, 41);
}

.auto-park-info{
    display: block;
    padding-top: 161px;
    margin-left: auto;
    margin-right: auto;
    width: 1460px;
}

.auto-park-title{
    font-family: 'Gilam', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 28px;
color: #FFFFFF;
}

.auto-park-grid-box{
    list-style: none;
    display: grid;
    padding: 0px;
    height: 900px;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column: 2;
    grid-template-areas:
    "auto-park-item1 auto-park-item2 auto-park-item3"
    "auto-park-item4 auto-park-item2 auto-park-item6"
    "auto-park-item4 auto-park-item5 auto-park-item6"
    "auto-park-item4 auto-park-item5 auto-park-item7" ;
    column-gap: 30px;
    row-gap: 25px;
    padding-bottom: 30px;
    margin-bottom: 0px;
    
}

.auto-park-item1{
    background:#0E0E0E;
    grid-area: auto-park-item1;
}

.auto-park-item2{
    background: #242424;
    grid-area: auto-park-item2;
}

.auto-park-item3{
    background: #1F1F1F;
    grid-area: auto-park-item3;
}

.auto-park-item4{
    background: #1F1F1F;
    grid-area: auto-park-item4;
}

.auto-park-item5{
    background: #E4B564;
    grid-area: auto-park-item5;
}

.auto-park-item6{
    background: #0E0E0E;
    grid-area: auto-park-item6;
}

.auto-park-item7{
    background: #0A0909;
    grid-area: auto-park-item7;
}

.auto-park-item-text{
    font-family: 'Gilam', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;
color: #FFFFFF;
margin-left: 52px;
margin-top: 44px;
}

.auto-park-item-text-5{
    color: #000000;
    font-family: 'Gilam',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
}

.auto-park-text-additional-style{
    display: block;
    font-weight: 900;
}

.clients-section-info{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1460px;
}

.clients-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 172px;
    padding-bottom: 72px;
}

.clients{
    width: 100%;
    background-image: url(../img/parallax-bg.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

.clients-title{
    font-family: 'Gilam', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 28px;
color: #FFFFFF;
}

.all-projects-link{
    display: flex;
    width: 180px;
    height: 50px;
    border: 1px solid #E4B564;
    justify-content: center;
    align-items: center;
    text-decoration-line: none;
}

.all-projects-link-text{
    font-family: 'Circe', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
color: #E4B564;
}

.clients-list-grid{
    display: grid;
    grid-auto-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "client1 client2 client3"
    "client4 client5 client6";
    margin: 0px;
    padding-bottom: 50px;
    padding-left: 0px;
}

.clients-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 487px;
    height: 391px;
}

.client1{
    background: #634F2C;
    grid-area: client1;
}

.client2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 59px;
    column-gap: 6px;
    background: #E8D2ABC2;
    grid-area: client2;
}

.client2-text{
    font-family: 'Gilam', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 28px;
text-align: center;
color: #FFFFFF;
width: 326px;
}

.client3{
    background: #E4B564;
    grid-area: client3;
}

.client4{
    background: #635A4A;
    grid-area: client4;
}

.client5{
    background: #B08C4D;
    grid-area: client5;
}

.client6{
    background: #634F2C;
    grid-area: client6;
}

.page-footer{
    height: 50px;
    width: 100%;
    background: rgb(43, 41, 41);
}